<%# Generic Save/Cancel used by a number of views. %>
<%= button_menu location do %>
  <div class="pull-right">
    <%= f.button :save, location: location %>
    <%= cancel_button location %>
  </div>
<% end %>