/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

$main-blue: #095aa6;
$light-blue: #0079c1;

$primary: $main-blue;
$secondary: $light-blue;

$light: darken(white,6%);
$gray: #9a9999;
$dark: #505050;

$success: #2ecc71;
$warning: #f1c40f;
$danger: #e74c3c;

@import "bootstrap";
@import "sitemap";

body {
  padding-top: 130px;
}

.intro {
  padding: 40px 15px;
  text-align: center;
}
