<%= content_tag 'div', class: 'cms-connector',
                data: {move_up: cms.move_up_connector_path(connector, format: :json),
                       move_down: cms.move_down_connector_path(connector, format: :json),
                       remove: cms.connector_path(connector, format: :json),
                       edit_path: edit_engine_aware_path(connectable, :_redirect_to => @page.path),
                       id: connector.id
                } do %>
    <div class="cms-toolbar-connector">
      <%= link_to "Remove",
                  cms.connector_path(connector, _redirect_to: @page.path),
                  class: "cms-btn cms-remove-content-link",
                  method: :delete,
                  title: "Remove this content from page (#{connectable.name}).",
                  data: { confirm:"Are you sure you want to remove this content from the page? (It will remain available in the Content Library.)"}
      %>
      <%= link_to("Edit", edit_engine_aware_path(connectable, :_redirect_to => @page.path), class: 'cms-edit-content-link cms-btn',
                  title: "Edit this content.") %>
    </div>
    <%= render_connectable connectable %>
<% end %>